.CatalogPage {
    height: 250vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('./../../assets/global.jpg');
    background-size: cover;
    background-position: center;
}

.CatalogPage .title {
    padding-top: 8%;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.courseCluster {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: black;
    text-align: left;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: -7px 7px white;
    margin-top: 1px;
}

.card button {
    padding: 8px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    transition: 0.5s;
}

.card button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.dots {
    width: 40px;
    margin-left: 120px;
    border-radius: 50%;
}