.NewCoursePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 220vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('https://res.cloudinary.com/dqwiiycdv/image/upload/v1659035040/jeremy-perkins-uhjiu8FjnsQ-unsplash_ahzljq.jpg');
}

.NewCoursePage h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.NewCoursePage label {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.NewCoursePage button {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.5s;
}

.NewCoursePage button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.RichEditor-styleButton {
    color: black !important;
}