.profilePage {
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('file:///C:/Users/spani/Downloads/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.profilePage h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.profilePage img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profilePage p {
    font-size: 1.5em;
}

.recommendationDiv {
    display: flex;
}