.profilePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../../assets/background.jpg');
}

.profilePage h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.profilePage img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profilePage p {
    font-size: 1.5em;
}