.profilePage {
    height: 110vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/dqwiiycdv/image/upload/v1659035040/jeremy-perkins-uhjiu8FjnsQ-unsplash_ahzljq.jpg');
    background-position: center;
    background-size: cover;
}

.profilePage h1 {
    letter-spacing: 2px;
    font-weight: bold;
}

.mainPic {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profilePage p {
    font-size: 1.5em;
}

.profilePage a {
    color: #f7e018;
}

.recommendationDiv h2 {
    margin-top: 10%;
    margin-left: 15%;
    font-weight: bold;
}

.recommendationDiv {
    margin-top: 10%;
    margin-left: 40%;
}

.editProfileBtn {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.5s;
}

.editProfileBtn:hover {
    background-color: black;
    color: white;
    border-color: white;
}