.editProfile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/dqwiiycdv/image/upload/v1658736377/background_viqild.jpg');
    color: white;
}

.editProfile h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.editProfile label {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.editProfile button {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.5s;
}

.editProfile button:hover {
    background-color: black;
    color: white;
    border-color: white;
}