.main-nav {
    background-color: black;
}

a {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none !important;
}

span {
    color: white !important;
}

.logout {
    cursor: pointer;
}