.main-nav {
    background-color: black;
    border-bottom: 1px solid white;
}

a {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

span {
    color: white;
}

.logout {
    cursor: pointer;
}

.navpepe {
    width: 30px;
    border-radius: 50%;
}