.katasPage {
    height: 140vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('https://res.cloudinary.com/dqwiiycdv/image/upload/v1659035040/jeremy-perkins-uhjiu8FjnsQ-unsplash_ahzljq.jpg');
    background-size: cover;
    background-position: center;
}

.katasPage .title {
    padding-top: 6%;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.kataCluster {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-body {
    color: white;
}

.card-body p {
    color: white;
}