.katasPage {
    height: 250vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/dqwiiycdv/image/upload/v1658736378/courses_wpyanu.jpg');
    background-size: cover;
    background-position: center;
}

.katasPage .title {
    padding-top: 6%;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.kataCluster {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}