.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 60px;
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid white;
}