.homeCluster {
    font-size: 3em;
    letter-spacing: 3px;
    color: white;
    position: relative;
}

img {
    width: 100px;
    margin-left: 50px;
    transition: 0.5s;
}

img:hover {
    width: 130px;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1.8em;
    text-transform: uppercase !important;
    color: white;
    letter-spacing: 2px;
    z-index: 1;
}

.logoCluster {
    position: fixed;
    display: flex;
    margin-top: 25%;
}

.motto {
    margin-bottom: 20%;
    font-size: 2.5em;
    letter-spacing: 3px;
    font-weight: bold;
}

.introVideo {
    object-fit: cover;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.video-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;

    padding: 20px;
    border: 1px solid white;
    border-radius: 2px;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.5s;
}

.signUp:hover {
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #842abe;
    color: white;
}

.signIn {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 9.5%;

    padding: 20px;
    color: #842abe;
    border: 1px solid #842abe;
    border-radius: 2px;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.5s;
}

.signIn:hover {
    border-radius: 5px;
    font-size: 1.2em;
    background-color: black;
    border-color: white;
    color: white;
}