.kataDescription {
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    width: 600px;
    background-color: black;
    font-size: 17px;
}

.kataPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('file:///C:/Users/spani/Downloads/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.kataTitle {
    font-weight: bold;
}

.codeMirror {
    width: 600px;
    text-align: left;
    border: 3px solid black;
    border-radius: 2px;
}

.submitKataBtn {
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 2px;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.5s;
}

.submitKataBtn:active {
    background-color: white;
}

.submitKataBtn:hover {
    border-radius: 5px;
    font-size: 1.2em;
    background-color: white;
    border-color: black;
    color: black;
}

.submitKataSuccess {
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2px;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.5s;
}

.submitKataSuccess:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.mistakesBtn {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    margin-right: 95%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: red;
    border: 1px solid black;
    transition: 0.5s;
}


.mistakesBtn:hover {
    border: 1px solid black;
    background-color: yellow;
}

.modal-content {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.modal-content .btn {
    padding: 10px;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    transition: 0.5s;
}

.modal-content .btn:hover {
    color: black;
    background-color: white;
}